* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  color: #fff;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

button {
  font-family: 'Courier New', monospace;
  cursor: pointer;
}
